/* Style global */
* {
    box-sizing: border-box;
    margin: 10;
    padding: 10;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style du header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

/* Espace sous le header pour éviter le recouvrement du contenu */
main {
    margin-top: 140px; /* Hauteur du header pour éviter qu'il cache le contenu */
    flex: 1; /* Pour étirer le contenu sur toute la hauteur disponible */
}

/* Style du footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

h1 {
    padding: 5 10 5 10;
}
/* Style des blocs de code multiligne */
pre {
    background-color: #2e2a2a; /* Fond sombre */
    color: #FFF; /* Couleur du texte pour lisibilité */
    padding: 10px;
    padding-top: 30px;
    margin: 10px 0;
    border-radius: 5px;
    max-width: 80ch; /* Limite de largeur */
    overflow-x: auto; /* Défilement horizontal */
    font-size: 0.9em;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: pre;
}

/* Style des éléments de code inline */
code {
    background-color: #2e2a2a;
    color: #FFF;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.95em;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

/* Conteneur du bloc de code */
.code-container {
    position: relative;
    top: 0px;
    max-width: 80ch;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style du bouton Copier */
.copy-btn {
    position: absolute;
    top: 5px; /* Place le bouton dans le coin supérieur droit */
    right: 5px;
    padding: 5px 8px;
    font-size: 0.8em;
    background-color: #757575;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1; /* Au-dessus du contenu du bloc */
}

/* Style du bouton au survol */
.copy-btn:hover {
    background-color: #c6c7c6;
}

/* Bouton au survol */
.copy-btn:hover {
    background-color: #c6c7c6;
}

/* Couleurs pour différents éléments dans les blocs de code */
pre code .keyword { color: #007acc; font-weight: bold; } /* Mots-clés */
pre code .string { color: #008000; } /* Chaînes de caractères */
pre code .comment { color: #6a737d; font-style: italic; } /* Commentaires */
pre code .function { color: #795e26; } /* Fonctions */
pre code .number { color: #005cc5; } /* Nombres */